nav {
    height: 60px;
    background-color: rgb(171, 168, 168);
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin-left: 10px;
}


img {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    height: 380px;
}

.sub1 {
    background-color: antiquewhite;
    width: 65%;
}

.sub1 h2 {
    color: brown;
    font-size: 30px;
    text-align: center;
}

.sub1 h4 {
    color: brown;
    font-size: 20px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
}

.sub1 input {
    border: 1px solid black;
    width: 200px;
    margin: 20px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

.sub1 #india {
    margin-left: 200px;
}

.sub1 #city {
    width: 300px;
    margin-left: 270px;
}

.sub1 button {
    color: black;
    background-color: aqua;
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 370px;
    border: .1px solid black;
}



.sub2 {
    background-color: antiquewhite;
    width: 35%;
}

iframe {
    border: 2px solid red;
}